* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Roboto', sans-serif;
}

body {
    background-color:rgb(228, 228, 228); /* Cor de fundo */
    padding-top: 100px;
}

header {
    display: flex; /* Para os elementops ficar um no lado do outro */
    align-items: center; /* Para ficar centralizados na vertical */
    margin-bottom: 40px; /* Margin inferiaor header, para separar */
}

header img {
    height: 36px; /* Tamanho do log */
    margin-right: 16px;
}

header h1 {
    font-size: 40px; /* Tamanho da fonte */
    font-weight: bold; /* Espeçura da fonte */
}

.container {
    max-width: 960px; /* O container vai ocupar 100% até 960px */
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex; /* Usado para colocar um no lado do outro e do mesmo tamanho*/
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: aliceblue;
    border: none;
    border-bottom: 2px solid #000; /* Colocar uma barra ou fa zer uma divisão na parte de baixo */
    padding: 8px;
}

form button {
    background-color: #009432;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center; /* Deixar alinado com o th*/
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table td img{
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;  
    color: aliceblue;
    background-color: #000;
    border-radius: 3px; /* A visão da borda, deixando ela mais clara ou escura*/
}

.aprovado {
    background-color: #009432;
}

.reprovado {
    background-color: #f50505;
}